@import url("https://fonts.googleapis.com/css2?family=Anta&family=Caveat:wght@400..700&family=Indie+Flower&display=swap");

* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  user-select: var(--color-azul-claro);
  font-family: "Indie Flower", -apple-system, cursive;
}

body {
  background-image: url("./imgs/back.jpg");
  background-size: cover;
  backdrop-filter: brightness(60%);
}

:root {
  --color-morado-pastel: #b19cd9;
  --color-turquesa: #47d1d1;
  --color-rosa-suave: #f4bfbf;
  --color-gris-claro: #e0e0e0;
  --color-blanco: #ffffff;
  --color-amarillo-palido: #fffac8;
  --color-verde-menta: #a1e7af;
  --color-azul-claro: #add8e6;
}

.hero {
  height: 100vh;
  background: #0005;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  min-width: 20vw;
  min-height: 20vw;
  width: 350px;
  height: 350px;
  background: linear-gradient(
    0deg,
    var(--color-verde-menta),
    var(--color-turquesa)
  );
  padding: .5em;
  animation: heroA 0.5s infinite ease-out;
}

@keyframes heroA {
  0% {
    background: linear-gradient(
      0deg,
      var(--color-verde-menta),
      var(--color-turquesa)
    );
  }

  25% {
    background: linear-gradient(
      90deg,
      var(--color-verde-menta),
      var(--color-turquesa)
    );
  }

  50% {
    background: linear-gradient(
      180deg,
      var(--color-verde-menta),
      var(--color-turquesa)
    );
  }

  75% {
    background: linear-gradient(
      270deg,
      var(--color-verde-menta),
      var(--color-turquesa)
    );
  }

  100% {
    background: linear-gradient(
      360deg,
      var(--color-verde-menta),
      var(--color-turquesa)
    );
  }
}

.hero-img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

h1 {
  margin: 1em 0 0 0;
  font-family: "Anta", sans-serif;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 3vw + 1em, 4rem);
  text-wrap: pretty;
  background: linear-gradient(
    45deg,
    var(--color-morado-pastel),
    var(--color-rosa-suave)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Anta", sans-serif;
  text-shadow: 0 0 5px #fff;
  font-size: clamp(1.5rem, 2vw + 1em, 2rem);
}

p {
  font-weight: 600;
  text-align: center;
}
.description {
  font-size: clamp(1rem, 2vw + 1em, 1.5rem);
}

.hero-arrow {
  font-size: clamp(1.5rem, 2vw + 1em, 3rem);
  margin: 1em 0em;
  animation: pulse 2s infinite ease;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
    transform: translateY(0px);
  }

  50% {
    filter: brightness(50%);
    transform: translateY(16px);
  }

  100% {
    filter: brightness(100%);
    transform: translateY(0px);
  }
}

.card-container {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  place-content: center;
  gap: 2em;
}

@media (max-width: 1024px) {
  .card-container {
    padding: 1em;
    margin: 3em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}
@media (max-width: 624px) {
  .card-container {
    padding: 0em;
    margin: 2em 3em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em 0em;
  }
}

.card {
  background: #30313b;
  height: max-content;
  width: 100%;
  border-radius: 5px;
  padding: 0.6em;
  color: #fff;
  box-shadow: 0 0 50px var(--color-morado-pastel);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.3em;
  padding: 0.2em 0.3em;
}
.line {
  width: 50%;
  height: 3px;
  background: linear-gradient(
    to left,
    var(--color-morado-pastel),
    var(--color-rosa-suave)
  );
  margin: .6em;
  border-radius: 3px;
}
.title i {
  padding: 0em .1em;
  font-size: clamp(0.5rem, 2vw + 1em, 2rem);
  background: linear-gradient(
    45deg,
    var(--color-morado-pastel),
    var(--color-rosa-suave)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card p {
  font-size: clamp(0.8rem, 1vw + 1em, 1.2rem);
  padding: 0.1em 0.5em;
  text-align: start;
  text-wrap: pretty;
  font-weight: 600;
  color: #fdfdfd;
}

.card-img {
  padding: 1em;
  height: 100%;
  width: 100%;
  background: #30313b;
  border-radius: 5px;
  box-shadow: 0 0 50px var(--color-morado-pastel);
}

.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  border: 3px solid var(--color-morado-pastel);
  filter: brightness(90%) contrast(110%) saturate(150%);
}

.card-links {
  padding: 2em;
  background-image: url("./imgs/back3.jpg");
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  gap: 3em;
}

@media (max-width: 1024px) {
  .card-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
}
@media (max-width: 624px) {
  .card-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em 0em;
  }
}
.card-title {
  width: 100%;
  margin: auto;
  background: var(--color-verde-menta);
}

.card-title h3 {
  text-align: center;
  padding: 0.2em 0em;
  font-family: "Anta", sans-serif;
  font-size: clamp(2rem, 2vw + 1em, 3rem);
}
.card-links .card {
  border: 2px solid var(--color-turquesa);
  height: max-content;
  width: 100%;
  border-radius: 5px;
  padding: 0.6em;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 0 20px var(--color-azul-claro);
}
.card-links .card p {
  color: #fff;
}
.card-links .card-img {
  padding: 1em;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 30px var(--color-azul-claro);
}
.card-links img {
  background-color: transparent;
  border: 1px solid #f1f1f1;
}
.card-links i {
  padding: 0em .1em;
  font-size: clamp(0.5rem, 2vw + 1em, 2rem);
  background: linear-gradient(
    45deg,
    var(--color-azul-claro),
    var(--color-turquesa)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-links .line {
  width: 50%;
  height: 3px;
  background: linear-gradient(
    to left,
    var(--color-azul-claro),
    var(--color-turquesa)
  );
  margin: 0.3em 0.6em;
  border-radius: 3px;
}
.more a {
  display: block;
  height: 100%;
  border: 2px solid var(--color-turquesa);
  padding: .5em .8em;
  margin: 1em .5em;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  transition: all 200ms;
}
.more a:hover {
  background: var(--color-turquesa);
}
.more a:active {
  background: var(--color-turquesa);
}
.more span {
  font-family: "Indie Flower", cursive;
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  font-size: clamp(1rem, 1vw + 1em, 2rem);
}
