---
import CardImg from "../components/CardImg.jsx"
import ViewImgs from "../components/ViewImgs";
import Layout from "../layouts/Layout.astro";
import "../styles/galeria.css";
---

<Layout title="Imagenes de Emi y mas">
  <div class="hero">
    <div class="hero-content">
      <i class="fa-solid fa-image icon"></i>
      <h1>Galeria</h1>
      <p>Fotos compartidas por Emily</p>
      <div class="hero-links">
        <a href="/">
          <button> Inicio </button>
        </a>
        <a href="/info">
          <button> Información </button>
        </a>
        <a href="/musicas">
          <button> Musicas </button>
        </a>
        <a href="/video">
          <button> Videos </button>
        </a>
        <a href="/juegos">
          <button> Juegos </button>
        </a>
      </div>
      <div class="text-black my-8">
        <a
          href="/upload/image"
          class="bg-green-300 hover:bg-emerald-500 shadow-2xl hover:shadow-emerald-500 p-2 px-4 rounded-full text-black text-xl flex items-center gap-2 transition-all"
          ><span>Sube tu imagen</span>
          <i class="fa-solid fa-image text-black"></i></a
        >
      </div>
    </div>
  </div>
  <main>
    <ViewImgs client:load/>
  </main>
</Layout>
