---
import CardImg from "../components/CardImg.astro";
import CardInfo from "../components/CardInfo.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout title="Emily Website | Para la mejor chica ♥">
  <div class="hero">
    <div class="hero-img">
      <img src="/imgs/Emi2.jpg" alt="Imagen de inicio sobre Emily" />
    </div>
    <h1 aria-label="Estefania Emily Astudillo Tuaza">
      "Estefania Emily Astudillo Tuaza"
    </h1>
    <p id="description" class="description"></p>
    <span class="hero-arrow"><i class="fa-solid fa-arrow-down"></i></span>
  </div>
  <main>
    <section class="card-container">
      <CardInfo
        title="General"
        icon="fa-trophy"
        img="/imgs/Foto13.jpg"
        text={`Ella es una persona introvertida y discreta en compañía de otros, con
          preferencias sencillas. No obstante, cuando se siente segura se
          transforma en una mujer carismática y alegre. Además, posee un talento
          excepcional para el arte del dibujo. En momentos de angustia, procura
          mantener la serenidad y busca actividades que le ayuden a relajarse,
          centrándose en superar los obstáculos`}
      />
      <CardInfo
        title="General"
        icon="fa-info"
        img="/imgs/Foto17.jpg"
        text={`Emily es una chica de 15 años que vive en Ecuador. Le encanta que le
          digan Emi o Estefy. Mide 1.70 metros y, bueno, es un poquito
          rellenita. Ahora mismo, está más o menos, ni muy bien ni muy mal. Su
          cumple es X/xx y, bueno, se siente igual, regular.`}
      />
      <CardInfo
        title="Cualidades"
        icon="fa-smile"
        img="/imgs/Foto15.jpg"
        text={`En cuanto a cómo es, pues es tímida, sencilla y muy cariñosa. Dibuja
          súper bonito, es lo que más le gusta hacer. Cuando las cosas se ponen
          difíciles, intenta mantener la calma y buscar algo para relajarse,
          siempre tratando de superar los problemas.`}
      />
      <CardInfo
        title="Habilidades"
        icon="fa-paint-brush"
        img="/imgs/Foto18.jpg"
        text={`Emily tiene un talento especial para el dibujo, es algo que la
          apasiona. Además, le gusta escuchar música, intentar bailar y jugar a
          videojuegos. Se siente especialmente orgullosa de haber pasado el
          juego Outlast, ¡a pesar del miedo que le daba!`}
      />
      <CardInfo
        title="Sus Experiencias"
        icon="fa-map-marked-alt"
        img="/imgs/Foto1.jpg"
        text={`Las personas más importantes en la vida de Emily son su familia y su
          gran amiga Sam. Al principio puede ser un poco reservada, pero una vez
          que toma confianza, se entrega por completo a sus relaciones. Valora
          mucho el trato amable y el respeto en las relaciones.`}
      />
      <CardInfo
        title="Relaciones"
        icon="fa-users"
        img="/imgs/Foto7.jpg"
        text={`Las personas más importantes en la vida de Emily son su familia y su
          gran amiga Sam. Al principio puede ser un poco reservada, pero una vez
          que toma confianza, se entrega por completo a sus relaciones. Valora
          mucho el trato amable y el respeto en las relaciones.`}
      />
      <CardInfo
        title="Valores"
        icon="fa-hands-helping"
        img="/imgs/Foto12.jpg"
        text={`Emily tiene como valores fundamentales el respeto, la amabilidad y el
          deseo de ayudar a los demás. Se guía por la filosofía de vida que
          dice: "Nada es verdad, todo está permitido". Esto la lleva a
          reaccionar de manera positiva en todas las situaciones.`}
      />
      <CardInfo
        title="Bienes Preciosos"
        icon="fa-gem"
        img="/imgs/Foto8.jpg"
        text={`Lo que más valora Emily son las pequeñas cosas de la vida, como el
          apoyo de su familia, la amistad de Sam y la capacidad de dibujar.
          Estas son las cosas que considera más valiosas y significativas en su
          vida.`}
      />
      <CardInfo
        title="Educación"
        icon="fa-graduation-cap"
        img="/imgs/Foto16.jpg"
        text={`Emily está cursando la educación secundaria y su objetivo principal en
          este momento es graduarse con buenos resultados. Le gusta aprender
          sobre historia y arte, y espera seguir desarrollando sus habilidades
          en dibujo en el futuro.`}
      />
      <CardInfo
        title="Salud"
        icon="fa-medkit"
        img="/imgs/Foto3.jpg"
        text={`En cuanto a su salud, Emily procura mantenerse activa y comer de
          manera equilibrada. Aunque a veces se siente estresada por la escuela
          y otras responsabilidades, trata de encontrar tiempo para relajarse y
          cuidar de sí misma.`}
      />
      <CardInfo
        title="Debilidades"
        icon="fa-heart-broken"
        img="/imgs/Foto9.jpg"
        text={`Hay algunas cosas que asustan a Emily, como los insectos mortales, y
          ha vivido situaciones aterradoras, como escuchar ruidos extraños
          cuando está sola. Cuando se siente mal, acude a su gran amiga Sam en
          busca de apoyo y consuelo.`}
      />
      <CardInfo
        title="Defectos"
        icon="fa-heart"
        img="/imgs/Foto2.jpg"
        text={`A pesar de admirar su habilidad para el dibujo, Emily no está
				completamente satisfecha consigo misma debido a su timidez y falta de
				confianza. Aunque le gusta su cuerpo, cree que podría mejorarlo.
				Además, prefiere evitar sentir emociones como el miedo y la depresión.`}
      />
      <CardInfo
        title="Tiempo"
        icon="fa-clock"
        img="/imgs/Emi1.jpg"
        text={`Emily no tiene un horario fijo para distribuir su tiempo entre el
				trabajo, la familia y su tiempo personal. Su prioridad en este momento
				es graduarse. Aunque reconoce que no es muy organizada con la
				administración del tiempo, está trabajando en mejorar en ese aspecto.`}
      />
      <CardInfo
        title="Pasiones o Gustos"
        icon="fa-brain"
        img="/imgs/Foto14.jpg"
        text={`Emily encuentra mucha felicidad en sus pasatiempos. Le encanta jugar,
				dibujar y ver contenido multimedia. Sus temas favoritos son los
				videojuegos, la música y la historia en general. Aunque tiene muchas
				responsabilidades, siempre saca tiempo para disfrutar de sus pasiones
				después de cumplir con sus deberes.`}
      />
    </section>
    <div class="card-title">
      <h3>Mas contenido</h3>
    </div>
    <section class="card-links">
      <div class="card">
        <header class="title">
          <i class="fa-solid fa-info"></i>
          <h2>Información</h2>
        </header>
        <div class="line"></div>
        <p>
          En esta seccion hay Información sobre fechas importantes, has click en
          el boton para ir
        </p>
        <div class="more">
          <a href="/info">
            <span>Ver más</span>
          </a>
        </div>
      </div>
      <div class="card-img">
        <img src="/imgs/Foto10.jpg" alt="./" loading="lazy" />
      </div>
      <div class="card">
        <header class="title">
          <i class="fa-solid fa-image"></i>
          <h2>Galeria</h2>
        </header>
        <div class="line"></div>
        <p>Una seccion con fotos sobre Emily o cosas que destaca ella aqui:</p>
        <div class="more">
          <a href="/galeria">
            <span>Ver más</span>
          </a>
        </div>
      </div>
      <div class="card-img">
        <img src="/imgs/Emi2.jpg" alt="Imagen del contenido" loading="lazy" />
      </div>
      <div class="card">
        <header class="title">
          <i class="fa-solid fa-music"></i>
          <h2>Musicas</h2>
        </header>
        <div class="line"></div>
        <p>Una seccion con las canciones favoritas de emi, solo unas cuantas</p>
        <div class="more">
          <a href="/musicas">
            <span>Ver más</span>
          </a>
        </div>
      </div>
      <div class="card-img">
        <img src="/imgs/Foto11.jpg" alt="Imagen del contenido" loading="lazy" />
      </div>
      <div class="card">
        <header class="title">
          <i class="fa-solid fa-play"></i>
          <h2>Juegos</h2>
        </header>
        <div class="line"></div>
        <p>
          Aqui habra un catalogo de videjuegos que Emily le gusta, son sus
          favoritos
        </p>
        <div class="more">
          <a href="/juegos">
            <span>Ver más</span>
          </a>
        </div>
      </div>
      <div class="card-img">
        <img src="/imgs/Foto4.jpg" alt="Imagen del contenido" loading="lazy" />
      </div>
      <div class="card">
        <header class="title">
          <i class="fa-solid fa-video"></i>
          <h2>Videos</h2>
        </header>
        <div class="line"></div>
        <p>
          Aqui habra un catalogo de videjuegos que Emily le gusta, son sus
          favoritos
        </p>
        <div class="more">
          <a href="/video">
            <span>Ver más</span>
          </a>
        </div>
      </div>
      <div class="card-img">
        <img src="/imgs/Foto5.jpg" alt="Imagen del contenido" loading="lazy" />
      </div>
    </section>
  </main>
  <script src="../scripts/index.js" async></script>
</Layout>
