---
import Layout from "../layouts/Layout.astro";
import "../styles/info.css"
---

<Layout title="Informacion | Fechas importantes para Emily">
  <div class="hero">
    <div class="hero-content">
      <i class="fa-solid fa-star"></i>
      <h1>Fechas</h1>
      <p>Fechas importantes para Emily</p>
      <div class="hero-links">
        <a href="/">
          <button>
            Inicio
          </button>
        </a>
        <a href="/galeria">
          <button>
            Galeria
          </button>
        </a>
        <a href="/musicas">
          <button>
            Musicas
          </button>
        </a>
        <a href="/video">
          <button>
            Videos
          </button>
        </a>
        <a href="/juegos">
          <button>
            Juegos
          </button>
        </a>
      </div>
    </div>
  </div>
  <main>
    <section class="timer-container">
      <div class="timer1">
        <div class="timer1-head">
          <h2>Amistad</h2>
          <p>Nuestro tiempo como amigos</p>
        </div>
        <div class="timers1">
          <div class="timer-box">
            <h3>Años</h3>
            <span id="time1"></span>
          </div>
          <div class="timer-box">
            <h3>Meses</h3>
            <span id="time2"></span>
          </div>
          <div class="timer-box">
            <h3>Dias</h3>
            <span id="time3"></span>
          </div>
          <div class="timer-box">
            <h3>Horas</h3>
            <span id="time4"></span>
          </div>
          <div class="timer-box">
            <h3>Min</h3>
            <span id="time5"></span>
          </div>
          <div class="timer-box">
            <h3>Seg</h3>
            <span id="time6">1</span>
          </div>
        </div>
      </div>
      <div class="timer1">
        <div class="timer1-head">
          <h2>Edad</h2>
          <p>Tiempo ocurrido desde que ella vino al mundo</p>
        </div>
        <div class="timers1">
          <div class="timer-box">
            <h3>Años</h3>
            <span id="timeC1"></span>
          </div>
          <div class="timer-box">
            <h3>Meses</h3>
            <span id="timeC2"></span>
          </div>
          <div class="timer-box">
            <h3>Dias</h3>
            <span id="timeC3"></span>
          </div>
          <div class="timer-box">
            <h3>Horas</h3>
            <span id="timeC4"></span>
          </div>
          <div class="timer-box">
            <h3>Min</h3>
            <span id="timeC5"></span>
          </div>
          <div class="timer-box">
            <h3>Seg</h3>
            <span id="timeC6"></span>
          </div>
        </div>
      </div>
      <div class="timer1">
        <div class="timer1-head">
          <h2>Su gran amiga</h2>
          <p>Tiempo que conoce asi mejor amiga</p>
        </div>
        <div class="timers1">
          <div class="timer-box">
            <h3>Años</h3>
            <span id="TimeF1"></span>
          </div>
          <div class="timer-box">
            <h3>Meses</h3>
            <span id="TimeF2"></span>
          </div>
          <div class="timer-box">
            <h3>Dias</h3>
            <span id="TimeF3"></span>
          </div>
          <div class="timer-box">
            <h3>Horas</h3>
            <span id="TimeF4"></span>
          </div>
          <div class="timer-box">
            <h3>Min</h3>
            <span id="TimeF5"></span>
          </div>
          <div class="timer-box">
            <h3>Seg</h3>
            <span id="TimeF6"></span>
          </div>
        </div>
      </div>
      <div class="timer1">
        <div class="timer1-head">
          <h2>Cumpleaños</h2>
          <p>¡Faltan!</p>
        </div>
        <div class="timers1">
          <div class="timer-box">
            <h3>Años</h3>
            <span id="TimeN1"></span>
          </div>
          <div class="timer-box">
            <h3>Meses</h3>
            <span id="TimeN2"></span>
          </div>
          <div class="timer-box">
            <h3>Días</h3>
            <span id="TimeN3"></span>
          </div>
          <div class="timer-box">
            <h3>Horas</h3>
            <span id="TimeN4"></span>
          </div>
          <div class="timer-box">
            <h3>Min</h3>
            <span id="TimeN5"></span>
          </div>
          <div class="timer-box">
            <h3>Seg</h3>
            <span id="TimeN6"></span>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="../scripts/info.js"></script>
</Layout>