---
import Layout from "../layouts/Layout.astro";
import "../styles/juegos.css"
---

<Layout title="Juegos">
  <div class="hero">
    <div class="hero-content">
      <i class="fa-solid fa-star"></i>
      <h1>Juegos</h1>
      <p>Los videojuegos favoritos de Emily</p>
      <div class="hero-links">
        <a href="/">
          <button>
            Inicio
          </button>
        </a>
        <a href="/info">
          <button>
            Información
          </button>
        </a>
        <a href="/musicas">
          <button>
            Musicas
          </button>
        </a>
        <a href="/galeria">
          <button>
            Galeria
          </button>
        </a>
        <a href="/video">
          <button>
            Videos
          </button>
        </a>
      </div>
    </div>
  </div>
  <main>
    <div class="card">
      <div class="card-img">
        <img src="./imgs/Emi1.jpg" alt="" />
      </div>
      <div class="card-title">
        <p>Algo mucho algo</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="./imgs/Emi2.jpg" alt="" />
      </div>
      <div class="card-title">
        <p>Algo mucho algo</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="./imgs/Emi2.jpg" alt="" />
      </div>
      <div class="card-title">
        <p>Algo mucho algo</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="./imgs/Emi2.jpg" alt="" />
      </div>
      <div class="card-title">
        <p>Algo mucho algo</p>
      </div>
    </div>
  </main>
</Layout>