---
import Layout from "../layouts/Layout.astro";
import "../styles/musica.css"
---

<Layout title="Musicas">
  <div class="hero">
    <div class="hero-content">
      <i class="fa-solid fa-star"></i>
      <h1>Musicas</h1>
      <p>Los videojuegos favoritos de Emily</p>
      <div class="hero-links">
        <a href="/index.html">
            <button>
              Inicio
            </button>
          </a>
          <a href="/info.html">
            <button>
              Información
            </button>
          </a>
          <a href="/galeria.html">
            <button>
              Galeria
            </button>
          </a>
          <a href="/video.html">
            <button>
              Videos
            </button>
          </a>
          <a href="/juegos.html">
            <button>
              Juegos
            </button>
          </a>
      </div>
    </div>
  </div>
</Layout>