---
const {url} = Astro.props
---

<div class="border-2 border-Turquesa p-1 rounded-full my-2 w-1/2 flex justify-center hover:bg-Turquesa active:bg-cyan-600 active:border-cyan-600 shadow-2xl hover:shadow-Turquesa/50 transition-all">
  <a href={url}>
    <span class="text-lg md:text-xl lg:text-2xl">Ver mas</span>
  </a>
</div>